* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* HEADER */

nav {
    background: rgb(40, 40, 40);
    padding: 1rem;
}

nav ul {
    display: flex;
    padding: 0;
}

nav ul li {
    list-style: none;
    margin-right: 3rem;
}

nav ul li a {
    font-size: 2rem;
    color: grey;
    text-decoration: none;
}

nav ul li a:hover {
    color: rgb(200, 200, 200);
    transition: ease-in-out 0.1s;
}

nav ul li a.active {
    color: white;
}

/* MAIN */

.container {
    width: 75%;
    margin: 2rem auto;
}

h1 {
    font-size: 3rem;
}

.quizContainer {
    margin-bottom: 2rem;
}

button {
    padding: 1rem 3rem;
    cursor: pointer;
    background: lightskyblue;
    border: 0;
    border-radius: 0.5rem;
    box-shadow: -2px 2px 2px black;
    margin: 0.5rem;
}

button:active {
    transform: translate(-1px, 1px);
    box-shadow: -1px 1px 1px black;
}

@media screen and (max-width: 768px) {
    nav ul li a {
        font-size: 1.5rem;
    }

    h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 576px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        list-style: none;
        margin-right: 0;
        margin-bottom: 0.5rem;
    }

    nav ul li a {
        font-size: 1rem;
    }
}
